:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tlui-help-menu {
  display: none !important;
}

.tlui-debug-panel {
  display: none !important;
}

.editor {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.tldrawLogo {
  position: absolute;
  z-index: 9999999;
  bottom: 0px;
  right: 0px;
}

.tldrawLogo__mobile {
  bottom: 60px;
}

.makeRealButton {
  background: var(--color-primary);
  color: white;
  border: none;
  font: inherit;
  font-weight: 600;
  padding: var(--space-3) var(--space-4);
  border-radius: var(--radius-2);
  margin: var(--space-3);
  cursor: pointer;
  pointer-events: all;
}
.makeRealButton:hover {
  opacity: 0.95;
}
